{% extends 'master' %}

{% block content %}
  <h2 class="title"> Adonis Rally </h2>
  <p>
    Adonis rally is an open source (MIT licensed) forums website written using <a href="http://adonisjs.com">AdonisJs</a>. This project contains the code for an API server and all API's can be checked using a tool like <a href="https://www.getpostman.com/"> Postman </a>
  </p>

  <hr>

  <h3 class="subtitle"> What to learn? </h3>

  <p> AdonisJs is a new framework and digesting all the docs is not possible for everyone. You can reference the code of this application to learn different ways of writing your apps using AdonisJs. </p>

  <p> Not only you can learn, but also you can contribute to the project by forking the repo and submitting PR for a given piece of functionality. </p>
{% endblock %}
