Hello!

Click on the below link to verify your email address. You have used {{email}} when signing up.

<a href="http://rally.adonisjs.com/account/verify?token={{verification_token}}"> Verify Account </a>
